<html> 
<a style= "float:right"; href="{% url 'homepage' %}"><button style="width: 150px; height: 50px; color:#F08080;background-color: #00FFFF"><h3>Homepage</h3></button></a>    
    
<head><h1 style="text-align:center">About</h1>
<style>
blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6;
  background-color: powderblue;
  color:#8B0000;    
    }
body{
    background-color: powderblue;    
    }    
</style>
    </head>
<title>About</title>    
<body>
    <blockquote  >
Hey there, This is Deepak and this is my first project in Django.
This project is about the 'Word Counter'.
When you type some words in textarea and hit count button,then it will count the each word and shows you which word is coming how many times.        
<footer>-Deepak Kaushal</footer>
</blockquote>
    
    
      
    
    
    
</body>    
    
    
    
    
</head>




</html>