<html>
    <a style= "float:right"; href="{% url 'About' %}"><button style="width: 150px; height: 50px; color:#F08080;background-color: #00FFFF"><h3>About</h3></button></a>  
<body bgcolor="#00BFFF">    

<center> 
<h1 style="width:50%;">   Word Count</h1>
<form action ="{% url 'count' %}">
<textarea cols="40" rows="10" name="fulltext"></textarea><br/><br/>

    <input type="submit" value="Count" style="width:150px; height:30px;background-color:#00FFFF"/>
</form>
</center>    
</body>    
<!--{{hithere}}-->

</html>